.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.labels {
  display: inline;
  padding: 20px;
  font-size: x-large;
}

.input-box {
  border: none;
  background-color: #282c34;
  border-bottom: 2px solid white;
  font-size: x-large;
  color: lightgreen;
  width: 7%;
}

.amount-box {
  color: lightgreen;
}

.error-prompt {
  background-color: rgb(243, 157, 157);
  border-color: black;
  border-style: solid;
  border-radius: 20px;
  padding: 10px;
  color: black;
  animation-name: slidein;
  animation-duration: 1s;
}

@keyframes slidein {
  from {
    margin-left: 50%;
    width: 150%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
